p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --top-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #188ce8;
  --bgd-color: #ffffff;
  --activ-logo-color: #757575;
  --adress-color: rgba(255, 255, 255, 0.6);
  --dark-bgd-color: #2f303a;
  --second-bgd-color: #f5f4fa;
  --text-logo-color: #000000;
}

body {
  color: var(--top-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--bgd-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header__container {
  display: flex;
}

.navigation {
  display: flex;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.navigation-logo {
  margin-right: 93px;
}

.header__logo {
  color: var(--text-logo-color);
}

.menu {
  display: flex;
  align-items: center;
}

.menu__link.current {
  color: var(--logo-color);
}

.second-menu {
  display: flex;
  align-items: center;
}

.header__second-menu {
  margin-left: auto;
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.second-menu__link--left {
  margin-left: 50px;
}

.menu__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--top-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}
.menu__link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.second-menu__mail,
.second-menu__tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--activ-logo-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.second-menu__mail:hover, .second-menu__mail:focus,
.second-menu__tel:hover,
.second-menu__tel:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.second-menu__item {
  display: block;
}

.second-menu__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero__background {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-bgd.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--dark-bgd-color);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bgd-color);
}

.btn {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}

.hero__btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bgd-color);
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--logo-color);
}

.benefits {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-list__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--top-color);
}

.features-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--activ-logo-color);
}

.features-list__icon {
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  background-color: var(--second-bgd-color);
  border-radius: 4px;
}

.picture-list {
  display: flex;
}

.picture-list__item + .picture-list__item {
  margin-left: 30px;
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
}

.thumb {
  position: relative;
}

.thumb__text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgd-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.command-list {
  display: flex;
}

.command-item + .command-item {
  margin-left: 30px;
}

.command-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
}

.command-subtitle {
  margin: 30px auto 10px auto;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--top-color);
}

.command-text {
  margin: 10px auto 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--activ-logo-color);
}

.command {
  background-color: var(--second-bgd-color);
}

.command-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--bgd-color);
}

.command-content {
  padding: 16px 32px 30px 32px;
}

.command-soc-list {
  display: flex;
  gap: 10px;
}

.command-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.command-soc-link:hover, .command-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--bgd-color);
}

.command-soc-icon {
  fill: currentColor;
}

.customers-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.customers-item {
  min-width: calc((100% - 150px) / 6);
  height: 92px;
}

.customer-link {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover, .customer-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.customer-icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bgd-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-footer-text {
  color: var(--bgd-color);
}

.adress-item {
  margin-bottom: 9px;
}

.adress-item:last-child {
  margin-bottom: 0;
}

.adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bgd-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover, .adress-link:focus {
  color: var(--accent-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail:hover, .footer-mail:focus, .footer-mail:hover, .footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-content-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgd-color);
}

.footer-content-list {
  display: flex;
  gap: 10px;
}

.footer-content {
  margin-left: 70px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--bgd-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-mail-container {
  display: flex;
  margin-left: auto;
}

.footer-mail-text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgd-color);
}

.footer-mail-input {
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--bgd-color);
  background-color: var(--dark-bgd-color);
}
.footer-mail-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.botton-mail {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
  padding: 10px 28px;
  min-width: 200px;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--bgd-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.botton-mail:hover, .botton-mail:focus {
  background-color: var(--logo-color);
}

.mail-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--bgd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.botton-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bgd-color);
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.botton-modal:hover, .botton-modal:focus {
  fill: var(--logo-color);
}

.form-text {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--activ-logo-color);
}

.form-input {
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus, .form-input:hover {
  border: 1px solid var(--accent-color);
}
.form-input:focus + .input-icon, .form-input:hover + .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.comment-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-textarea {
  min-width: 448px;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea:focus, .form-textarea:hover {
  border: 1px solid var(--accent-color);
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-underline-offset: 3px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  background-image: url(../images/icon-check-2.svg);
  border-color: var(--accent-color);
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 7px;
}

.checkbox-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--activ-logo-color);
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--top-color);
  border-radius: 2px;
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--bgd-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover, .form-button:focus {
  background-color: var(--logo-color);
}

.picture {
  display: block;
}

.card-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-filter-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
}

.project-item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--bgd-color);
}

.project-btn {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
  cursor: pointer;
  background-color: var(--second-bgd-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-btn:hover, .project-btn:focus {
  color: var(--bgd-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--top-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--activ-logo-color);
}

.link-portfolio {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover, .link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.link-portfolio:hover .portfolio-overlay, .link-portfolio:focus .portfolio-overlay {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */