.customers-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--top-color);
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.customers-item {
  min-width: calc((100% - 150px) / 6);
  height: 92px;
}

.customer-link {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.customer-icon {
  fill: currentColor;
}
