.picture-list {
  display: flex;
}

.picture-list__item + .picture-list__item {
  margin-left: 30px;
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
}

.thumb {
  position: relative;
}

.thumb__text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgd-color);
  background-color: rgba(47, 48, 58, 0.8);
}